name: 'mtd'
currency_code: USD
billing_entity: OpenStack

columns:
  - name: Resource Id
    func: resource_id
  - name: Project Id
    func: project_id
  - name: Meter Name
    func: meter_name
  - name: user:UAI
    func: metadata:UAI
  - name: user:license
    func: metadata:licence
  - name: Display Name
    func: display_name
  - name: Instance Type/Flavor
    func: instance_type
  - name: Billing Period Start Date
    func: billing_period_start_date
  - name: Billing Period End Date
    func: billing_period_end_date
  - name: Usage Start Date
    func: usage_start_date
  - name: Usage End Date
    func: usage_end_date
  - name: Usage Type
    func: usage_type
  - name: Usage Amount
    func: usage_amount
  #- name: Item Rate
  #  func: item_rate
  #- name: Cost
  #  func: cost
  - name: Hours
    func: hours
  - name: Description
    func: description
  - name: Product Name
    func: product_name
  - name: Usage Type
    func: usage_type

items:
  - meter_name: instance
    billing_entity: OpenStack
    line_item_type: Usage
    product_code: Compute
    usage_type: Instance Hours
    operation: RunInstances
    currency_code: USD
    item_rate: 0.2
    description: Instance hours
    product_name: Compute

  - meter_name: vcpus
    billing_entity: OpenStack
    line_item_type: Usage
    product_code: Compute
    usage_type: Vcpu Hours
    operation: Runinstances
    currency_code: USD
    item_rate: 0.2
    description: cpu Hours
    product_name: Compute

  - meter_name: memory
    billing_entity: OpenStack
    line_item_type: Usage
    product_code: Compute
    usage_type: Memory GB Hours
    operation: Runinstances
    currency_code: USD
    item_rate: 0.5
    description: Memory GB Hours
    product_name: Compute
    conversion: megabytes_to_gigabytes

  - meter_name: disk.root.size
    billing_entity: OpenStack
    line_item_type: Usage
    product_code: Compute
    usage_type: GB days
    operation: RunInstances
    currency_code: USD
    item_rate: 0.1
    description: Root Disk Size in GB days
    product_name: Compute
    conversion: hours_to_days

  - meter_name: image.size
    billing_entity: OpenStack
    line_item_type: Usage
    product_code: Image
    usage_type: GB Hours
    operation: images
    currency_code: USD
    item_rate: 0.1
    description: Image size in GB hours
    product_name: Image
    conversion: bytes_to_gigabytes

  - meter_name: volume.size
    billing_entity: OpenStack
    line_item_type: Usage
    product_code: Volume
    usage_type: GB days
    operation: volumes
    currency_code: USD
    item_rate: 0.05
    description: Volume size in GB days
    product_name: Volume
    conversion: hours_to_days

  - meter_name: snapshot.size
    billing_entity: OpenStack
    line_item_type: Usage
    product_code: Volume
    usage_type: GB Hours
    operation: volumes
    currency_code: USD
    item_rate: 0.05
    description: Snapshot size in GB Hours
    product_name: Volume

  - meter_name: storage.containers.objects.size
    billing_entity: OpenStack
    line_item_type: Usage
    product_code: Object Storage
    usage_type: GB Hours
    operation: volumes
    currency_code: USD
    item_rate: 0.05
    description: Object Storage Size in GB hours
    product_name: Object Storage

  - meter_name: network.services.lb.loadbalancer
    billing_entity: OpenStack
    line_item_type: Usage
    product_code: Load Balancers
    usage_type: Load Balancers
    operation: network
    currency_code: USD
    item_rate: 0.05
    description: Load Balancer
    product_name: Network
